# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist

# Environment variables
.env
.env.*
!.env.example
/config/*.env
!*/config/*.example

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Log files
*.log
logs/
backend/logs/
!backend/logs/.gitkeep

# Temporary files
*.tmp
*.temp

# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
